<div class="row">
    <form class="form-inline my-form">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="Input phrase" id="phrase">
            
        </div>
        <button type="button" class="btn btn-primary mb-2" id="find_button">Find</button>
    </form>
</div>
<div class="row">
    <div class="canvas_continer">
        <canvas height="2200px" width="1700px" id="image_canvas"></canvas>
    </div>

    <img src="http://localhost:49556/Images/2.png" id="immage_for_canvas" class="hidden" />
</div>
<div class="loader"></div>